# Ramen Dataset

## Courtney Pigford. 2-18-23

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
ramen = pd.read_csv('ramen-ratings.csv', index_col=0)

In [ ]:
ramen.head()

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
ramen.tail()

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

In [ ]:
ramen.head()

,Brand,Variety,Style,Country,Stars,Top Ten
Review #,,,,,,
2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [ ]:
ramen.describe()

         Brand Variety Style Country Stars Top Ten
count     2580    2580  2578    2580  2580      41
unique     355    2413     7      38    51      38
top     Nissin    Beef  Pack   Japan     4      \n
freq       381       7  1531     352   384       4

In [ ]:
len(ramen.Stars)

2580

In [ ]:
from statistics import mean


mean(ramen.Stars)

In [ ]:
(ramen.Variety == 'Beef').describe()

count      2580
unique        2
top       False
freq       2573
Name: Variety, dtype: object

In [ ]:
import matplotlib

In [ ]:
%matplotlib

In [ ]:
histogram = ramen-ratings.hist()